<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-sarcalculator" version="0.0.1">
   <name>sarfarajcalculator</name>
   <js-module name="sarfarajcalculator" src="www/sarfarajcalculator.js">
      <clobbers target="sarfarajcalculator" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="sarfarajcalculator">
            <param name="android-package" value="cordova.plugin.sarcalculator.sarfarajcalculator" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/sarfarajcalculator.java" target-dir="src/cordova/plugin/sarcalculator/sarfarajcalculator" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="sarfarajcalculator">
            <param name="ios-package" value="sarfarajcalculator" />
         </feature>
      </config-file>
      <source-file src="src/ios/sarfarajcalculator.m" />
   </platform>
</plugin>